@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
  --grey-color: #F6F6F6;
  --navy-color: #050F28;
  --white-color: #FFFFFF;
  --light-blue-color: #88A1DE;
  --error-color: #FF832A;

}

body {
  font-family: "Nunito";
  font-weight: 400;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}